.second__wrapper {
  display: flow-root;
}

.second__img1 {
  max-width: 560px;
  float: left;
  margin-right: 40px;
  padding-top: 30px;
}

.second__img2 {
  max-width: 560px;
  float: right;
  margin-left: 40px;
  padding-top: 30px;
}