.second__title {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

.second__wrapper {
  display: flow-root;
}

.second__img1 {
  max-width: 560px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.second__item {
  margin-bottom: 30px;
}

.second__item:last-child {
  margin-bottom: 0;
}

.second__img2 {
  max-width: 560px;
  float: right;
  padding-left: 40px;
}