.summarize {
  margin-bottom: 50px;
}

.summarize__wrapper {
  background-color: #F1F1F1;
  padding: 25px 0 25px 45px;
}

.summarize__title {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 20px;
}

.summarize__list {
  margin-bottom: 30px;
}

.summarize__item {
  margin-bottom: 10px;
}

.summarize__item:last-child {
  margin-bottom: 0;
}